body {
  margin: 0;
  font-family: 'Alegreya', serif;
  background-color: #FBF8EF;
  color: #333;
  text-align: center;
}

h1{
  font-family: 'Alex Brush', serif;
  text-align: center;
  font-size: 64px;
  font-weight: normal;
}

p {
  font-size: 24px;
}

.hero-title {
  color: #768F6E;
}

.hero-date {
  font-size: 32px;
  color: #768F6E;
  font-variant: small-caps;
}

section {
  max-width: 1000px;
  margin: auto;
  margin-top: 260px;
}

.story-section {
  color: #768F6E;
}

.details {
  overflow:hidden
}

.invite {
  background-color: #768F6E;
  border-radius: 10px;
  outline: 3px dashed white;
  outline-offset: -15px;
  color: white;
  max-width: 800px;
  margin: auto;
}

.invite h3 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 24px;
}

.invite p {
  text-align: center;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 100;
}

button {
  display: inline-block;
  position: absolute;
  padding: 10px 50px;
  background: white;
  color: #768F6E;
  border-radius: 5px;
  border: 2px solid #FBF8EF;
  transition: background 0.3s;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Alegreya', serif;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

button:hover {
  background: #768F6E;
  border-color: white;
  color: white;
}

.gifts {
  color: #45556B;
  margin-bottom: 120px;
}

a {
  color: #45556B;
  font-size: 32px;
  background-color: #FBF8EF;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.countdown-section {
  background-color: #768F6E;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  width: 100%;
  background-image: url("images/flowers3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.countdown div {
  padding: 1em;
  border-radius: 24px;
  text-align: center;
}

.countdown span {
  display: block;
  font-size: 48px;
  color: white;
  font-family: 'Alex Brush', serif;
}

.rsvpSection {
  margin-top: 50px;
}

.forms {
  border: 3px solid #768F6E;
  border-radius: 10px;
  background-color: white;
  color: #768F6E;
   padding: 0px 50px 50px 50px;
}

form {
  text-align: left;
}

.textBox, textarea {
  border: 2px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  color: lightgray;
  margin: 5px;
  width: 100%;
  font-family: 'Alegreya', serif;
}

input:focus {
  border: 2px solid gray;
  border-radius: 5px;
  color: gray;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label {
  font-size: 24px;
  color: #45556B;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}